<!DOCTYPE html>
<html>
  <head>
    <title>LISt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />


  </head>
  <body>
    <h1>All Todos</h1>
    <p>Welcome to todos List inside folder</p>

    <form action="/todos" method="post">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Enter a task" name="task">
          </div>
        </div>
        <div class="col-md-2">
          <input type="submit" class="btn btn-info btn-sm">
        </div>
      </div>

    </form>


    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Task</th>
          <th>Completed?</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% todos.forEach(function(todo){ %>

          <tr>
            <td><%= todo.id %></td>
            <td><%= todo.task %></td>
            <td><%= todo.completed ? "True" : "False" %></td>
            <td>
              <% btntxt=  todo.completed ? "Mark Incomplete" : "Mark completed" %>
              <a href="/todos/<%= todo.id %>/toggle_completed" class="btn btn-info btn-sm"><%= btntxt %></a>
              <a href="/todos/<%= todo.id %>" class="btn btn-danger btn-sm del-btn">Delete</button>
            </td>
          </tr>
        <% }); %>
      </tbody>

    </table>


  </body>
</html>


<script>
  $(".del-btn").on("click", function(e){
    e.preventDefault();
    $.ajax({
        type: "DELETE",
        url: $(this).attr("href"),
        success: function(msg){
          location.reload()
        }
    });
  })

</script>